<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>当前在线人数:</div>
<div class="container" th:object="${}">
<!--当前在线人数:${number}-->
<!--<hr>-->
<!--<%-->
<!--ArrayList<User> userlist = (ArrayList<User>) request.getServletContext().getAttribute("userlist");-->
    <!--if (userlist != null) {-->
    <!--for (int i = 0; i < userlist.size(); i++) {-->

    <!--User user = userlist.get(i);-->
    <!--%>-->
    <!--sessionID：<%=user.getSessionID()%>-->
    <!--<br>-->
    <!--IP:<%=user.getIp()%>-->
    <!--<br>-->
    <!--FirstName:<%=user.getFirstTime()%>-->
    <!--<hr>-->
    <!--<%}}%>-->
</body>
</html>